# Expo
.expo/
dist/
web-build/
.expo-shared/

# Dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
config.local.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Build
android/
ios/
